/* google font link */
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Sansita+Swashed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Saira+Condensed:wght@100;200;300&family=Sansita+Swashed&display=swap');
/* global */
*{
    margin: 0;
    padding: 0;
    font-family: 'Saira Condensed', sans-serif;
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.part{
    text-align: center;
    margin: auto;
}
/* navbar */
nav .download{
    background-color: tomato;
    border: 1px solid tomato;
    color: white;
    border-radius: 5px;
    transition: all 0.5s;
}
nav .download:hover{
    background: none;
    color: tomato;
    box-shadow: 1px 0px 5px 1px tomato;
}
/* hero */
.hero{
    background-image: linear-gradient(rgb(0,0,0,0.5),rgb(0,0,0,0.5)), url(./img/cover/design-showcase-7.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin-top: -21px;
    
}
.hero .container{
    margin-top: 5rem;
    box-sizing: border-box;
    color: white;
    padding: 5rem;
}
.hero img{
    padding-top: 4rem;
}
.hero h1{
    font-family: 'Cinzel', serif;
    font-weight: 700;
    font-size: 80px;
}
.hero button{
    padding: 0.4rem 1rem;
    background-color: tomato;
    border: 1px solid tomato;
    transition: all 0.5s;
    color: white;
}
.hero button:hover{
    background: none;
    color: tomato;
    box-shadow: 1px 0px 5px 1px tomato;
    outline: none;
}
.hero button:focus{
    outline: none;
}
/* description */
.description{
    color: white;
    background-color: rgb(22, 22, 22);
}
.description h1{
    color: tomato;
}


/* pricing_table */

.pricing-table{
    margin-top: 4rem;
}
.pricing-table .part{
    background-color: rgb(22, 22, 22);
    color: white;
    padding: 1rem;
    padding-top: 3rem;
    margin-top: 2rem;
    padding-bottom: 2rem;
}
.pricing-table .part button{
    padding:0.5rem 1rem;
    background-color: tomato;
    border: 1px solid tomato;
    color: white;
    letter-spacing: 2px;
    transition: all 0.5s;
}

.pricing-table .part button:hover{
    background: none;
    color: tomato;
    box-shadow: 1px 0px 5px 1px tomato;
    outline: none;
}
.pricing-table .part button:focus{
    outline: none;
}
/* clss timetable */
.class-timetable{
    text-align: center;
    margin-top: 4rem;
    background-color: rgb(22, 22, 22);
    color: white;
    padding: 3rem;
}
.class-timetable .container h2{
    padding: 2rem;
}
.class-timetable table{
    text-align: center;
    background-color: rgb(32, 32, 32);
    margin-left: 4.5rem;
}
.class-timetable table td a{
    font-weight: 600;
    letter-spacing: 2px;
}
.class-timetable table th{
    font-size: 14px;
}
.class-timetable table th,.class-timetable table td{
    padding: 1rem;
}

/* buttons */
.buttons{
    margin-top: 4rem;
    margin-bottom: 4rem;
}
.buttons .part button{
    padding: 0.5rem 1rem;
    font-weight: 600;
    margin-top: 5px;
    overflow: hidden;
}
.buttons .part button:hover,
.buttons .part button:focus{
    outline: none;
}
.buttons .part .first-button{
    background-color: tomato;
    color: white;
    border: 2px solid tomato;
    transition: background 0.5s;
}
.buttons .part .second-button{
    background: none;
    border: 2px solid rgb(0, 0, 61);
    color: rgb(0, 0, 61);
    transition: background 0.5s;
}
.buttons .part .thried-button{
    background-color: rgb(0, 0, 61);
    color: white;
    border: 2px solid rgb(0, 0, 61);
    transition: background 0.5s;
}
.buttons .part button span{
    position: absolute;
    background-color: white;
    width: 1px;
    height: 80%;
    top: 15%;
    overflow: hidden;
}
.buttons .part .second-button span{
    background-color: rgb(0, 0, 61);
}
.buttons .part .first-button:hover{
    background: none;
    color: tomato;
    box-shadow: 1px 0px 5px 1px tomato;
}
.buttons .part .first-button:hover span{
    display: none;
}
.buttons .part .second-button:hover{
    background: rgb(0, 0, 61);
    color: white;
}
.buttons .part .second-button:hover span{
    background-color: white;
}
.buttons .part .thried-button:hover{
    background: none;
    color: rgb(0, 0, 61);
    box-shadow: 1px 0px 5px 1px rgb(0, 0, 61);
}
.buttons .part .thried-button:hover span{
    background-color: rgb(0, 0, 61);
}

/* explain */
.explain .part img{
    width: 280px;
    height: 250px;
}
.explain .part1{
    padding: 0;
    margin: 0;
    color: white;
}
.explain .part2 small{
font-size: 11px;
letter-spacing: 2px;
}
.explain .part2{
    background-color: tomato;
    height: 250px;
    padding: 1rem; 
    padding-top: 3rem; 
    text-align: left; 
    margin-left: 0%;
}
.explain .part-1{
    background-color: rgb(31, 31, 31);
}
.explain .part2 p{
    font-size: 13px;
}
.explain .part2 h6{
    padding: 1rem 0;
}
.explain .part2 button{
    color: white;
    padding: 0.3rem 1rem;
    background: none;
    border: none;
    transition: all 0.5s;
}
.explain .part2 .but-1:hover{
    background-color: white;
    color: tomato;
    box-shadow: 1px 0px 5px 1px rgb(255, 75, 43);
}
.explain .part2 .but-2:hover{
    background-color: white;
    color: rgb(22, 22, 22);
    box-shadow: 1px 0px 10px 1px rgb(0, 0, 0);
}
.explain .part img{
    transform: scale(1);
    transition: transform 0.5s;
    overflow-y: hidden;
}
.explain .part:hover img{
    transform: scale(1.1);
}

/* products */
.products{
    margin-top: 4rem;
}
.products span{
    padding: 2rem;
    letter-spacing: 3px;
    font-weight: 600;
}
.products span a{
    text-decoration: none;
    color: tomato;
    padding: 2rem;
}
.products .bor{
    padding:1rem 0;
    border-top: 1px dotted gray;
    border-bottom: 1px dotted gray;
}

/* sponser */
.sponser{
    margin-top: 4rem;
    background-color: tomato;
    padding: 2rem;
}

/* improve */
.improve{
    margin-top: 4rem;
}
.improve .part{
    margin: 2rem;
}
.improve .part img{
    width: 400px;
}
.improve .text-right{
    padding-top: 4rem;
}
.improve .part h3{
    font-weight: 900;
}
.improve .part h1{
    font-weight: bolder;
    font-size: 4rem;
    position: absolute;
    color: gray;
}
.improve .part button{
    padding:0.3rem 1rem;
    background-color: tomato;
    border: 2px solid tomato;
    color: white;
    font-weight: 500;
    letter-spacing: 2px;
    transition: all 0.5s;
}
.improve .part button span{
    position: absolute;
    width: 2px;
    height: 6.5%;
    background-color: white;
    transition: all 0.5s;
}
.improve .part button:hover{
    background: none;
    color: tomato;
    box-shadow: 1px 2px 10px 1px tomato;
    outline: none;
}
.improve .part button:focus{
    outline: none;
}
.improve .part button:hover span{
    display: none;
}
.improve .part-progress{
    padding-top: 6rem;
}
.improve .pera1{
    text-align: right;
}
.improve .pera2{
    text-align: left;
}
/* subscribe */
.subscribe{
    margin-top: 6rem;
}
.subscribe button{
    padding: 0.2rem 0.7rem;
    background-color: tomato;
    color: white;
    border: 1px solid tomato;
    transition: all 0.5s;
}
.subscribe button:hover{
    background: none;
    color: tomato;
    box-shadow: 1px 0px 5px 1px tomato;
    outline: none;
}
.subscribe button:focus{
    outline: none;
}
/* team */
.team{
    margin-top: 6rem;
}
.team h1{
    font-size: 70px;
    font-weight: bold;
    padding-bottom: 2rem;
}
.team .part{
    margin-top: 1rem;
}
.team .part img{
    width: 200px;
    height: 250px;
}
.team .part .overlay{
    margin-top: 0.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    background-image: linear-gradient(rgb(0,0,0,0.5),rgb(0,0,0,0.5));
    height: 250px;
    width: 200px;
    opacity: 0;
    transition: opacity 0.5s;
}
.team .part:hover .overlay{
    opacity: 1;
}
.team .part .overlay .text{
    padding: 5rem 0;
}
.team .part .overlay .text i{
    padding: 0.4rem;
}
.team .part .overlay .text h5{
    font-weight: 700;
}
.team .part .overlay .text p{
    font-size: 12px;
}

/* footer */
footer{
    margin-top: 6rem;
    background-color: black;
}
footer .part{
    margin-top: 4rem;
}
footer .part i{
    font-size: 20px;
}
footer .part .icon{
    text-align: left;
}
footer .part .class{
    padding-bottom: 2rem;
    border-bottom: 2px solid rgb(59, 59, 59);
    padding-top: 0.5rem;
}
footer .part .class small{
    font-size: 10px;
}
footer .part button{
    padding: 0.7rem 0.7rem;
    background-color: tomato;
    border:1px solid tomato;
    color: white;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 700;
    transition: background 0.5s;
}
footer .part button span{
    position: absolute;
    background-color: white;
    width: 1px;
    height: 5%;
    opacity: 1;
    transition: opacity 0.5s;
}
footer .part button:hover{
    background: none;
    color: tomato;
    border: 1px solid tomato;
    box-shadow: 1px 0px 5px 1px tomato;
    outline: none;
}
footer .part button:hover{
    outline: none;
}
footer .part button:hover span{
    opacity: 0;
}
footer .part h5{
    font-weight: bold;
}
footer .copy .name{
    background: linear-gradient(to right, #f39f21,#ec5a2e); 
-webkit-text-fill-color: transparent; 
-webkit-background-clip: text; 
}
/* responsive */
@media(max-width:991px){
    .class-timetable .container .tab{
        overflow: auto;
    }
    .class-timetable table{
        margin-left: 0%;
    }
    .explain .part{
        margin-top: 1rem;
    }
    
    .improve .part img{
        width: 300px;
    }
    .improve .part-progress{
        padding-top: 2rem;
    }
}
@media(max-width:767px){
    footer .part .icon{
       text-align: center;
    }
    .explain .part img{
        height: auto;
    }
}

@media(max-width:575px){
    .hero{
        text-align: center;
    }
    .hero h1{
        font-size: 3rem;
    }
    .improve .part img{
        width: 300px;
    }
    .explain .part img{
        width: 250px;
        height: auto;
    }
    .explain .part{
        text-align: center;
    }
}
@media(max-width:396px){
    .improve .part h1{
       font-size: 40px;
    }
    .improve .part h3{
       font-size: 20px;
    }
    .hero h1{
        font-size: 40px;
    }
}
@media(max-width:382px){
    .products{
        text-align: center;
    }
    .products span{
        padding: 0;
        margin: 0;
    }
}
@media(max-width:371px){
    .improve .part img{
        width: 200px;
        height: auto;
    }
}
@media(max-width:353px){
    .hero h1{
        font-size: 30px;
    }
}
@media(max-width:334px){
    .improve .h{
        position: absolute;
        left: 15%;
    }
}
@media(max-width:310px){
    nav .navbar-brand span{
        font-size: 15px;
    }
}
@media(max-width:303px){
    .improve .pera1,
    .improve .pera2{
        text-align: center;
    }
    .improve .pera1 h1{
        position: absolute;
        left: 50%;
        top: 1%;
        padding-bottom: 5rem;
    }
    .improve .pera1 h1{
        position: absolute;
        left: 50%;
        top: 10%;
        padding-top: 2rem;
        transform: translate(-30%,-16%);
    }
    .improve .pera1 h3{
        padding-top: 2rem;
        text-align: center;
    }
    .improve .pera2 h1{
        position: absolute;
        left: 50%;
        top: 10%;
        padding-top: 2rem;
        transform: translate(-30%,0%);
    }
    .improve .pera2 h3{
        padding-top: 2rem;
        text-align: center;
    }
    .improve .pera2 p{
        text-align: center;
    }
}
@media(max-width:296px){
    footer button span{
        display: none;
    }
    footer button{
        text-align: center;
    }
    .hero h1{
        font-size: 25px;
    }
}
@media(max-width:281px){
    .explain .part img{
        width: 200px;
        height: auto;
    }
}
@media(max-width:275px){
    .improve .part img{
        width: 160px;
        height: auto;
    }
}